
.article
  line-height 26px

  .tags
    font-size 14px
    font-family Monaco, monospace, "wenqunyi micro hei mono"

  .title
    font-family "wenqunyi micro hei"
    font-size

  .time
    color hsl(0,0,90)
    font-size 13px

  .content
    margin 80px 0px

    p
      margin 20px 0px

    code, pre
      background hsl(200,9,90)