
.article
  line-height 26px

  .tags
    font-size 14px
    font-family Monaco, monospace, "wenqunyi micro hei mono"
    color hsl(240,50,85)

  .title
    font-family Marcellus, "wenqunyi micro hei"
    font-size 18px
    margin 10px 0px

  .time, .link
    color hsl(0,0,90)
    font-size 13px
    margin-left 10px

  a
    text-decoration none
    color hsl(240,100,80)

  .content
    margin 30px 0px 200px

    p
      margin 20px 0px

    code, pre
      background hsl(200,9,90)

    pre
      padding 10px
      font-size 14px
      border-radius 4px

    p code
      padding 3px 6px
      border-radius 3px
      font-size 14px

    blockquote
      box-shadow 0px 0px 3px hsl(0,0,90)
      border-radius 2px
      margin 0px
      padding 1px 6px
      color hsl(0,0,40)
      background hsl(0,0,96)

    img
      box-shadow 0px 0px 10px hsl(0,0,40)
      max-width 100%
      margin 10px