
doctype 5
html
  head
    title Broccoli
    meta(charset="utf-8")
    script(src="../components/seajs-2.0/dist/sea.js")
    script(src="../components/lilyturf/page/lilyturf.js")
    script(src="../components/my-scaffold/base.js")
    script(src="../components/jquery/jquery.js")
    script(src="../components/toastr/toastr.js")
    script(src="../components/marked/lib/marked.js")
    link(rel="stylesheet", href="../components/my-scaffold/base.css")
    link(rel="stylesheet", href="../components/toastr/toastr.css")
    link(rel="stylesheet",href="page.css")
    link(rel="stylesheet",href="article.css")
    script(src="http://localhost:7777/doodle.js")
    script!= 'seajs.use("./main.js")'
  body
    #menu.vertical-list
      input#search
      #login.button Login
      #create.button Create
      #tags
    #table
    #popup
      #paper