.article {
  line-height: 26px;
}
.article .tags {
  font-size: 14px;
  font-family: Monaco, monospace, "wenqunyi micro hei mono";
  color: #c6c6ec;
}
.article .title {
  font-family: Marcellus, "wenqunyi micro hei";
  font-size: 18px;
  margin: 10px 0px;
}
.article .time,
.article .link {
  color: #e6e6e6;
  font-size: 13px;
  margin-left: 10px;
}
.article a {
  text-decoration: none;
  color: #99f;
}
.article .content {
  margin: 30px 0px 200px;
}
.article .content p {
  margin: 20px 0px;
}
.article .content code,
.article .content pre {
  background: #e3e6e8;
}
.article .content pre {
  padding: 10px;
  font-size: 14px;
  border-radius: 4px;
}
.article .content p code {
  padding: 3px 6px;
  border-radius: 3px;
  font-size: 14px;
}
.article .content blockquote {
  box-shadow: 0px 0px 3px #e6e6e6;
  border-radius: 2px;
  margin: 0px;
  padding: 1px 6px;
  color: #666;
  background: #f5f5f5;
}
